* {
  margin: 0;
  padding: 0;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
button {
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #c81623;
}
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666;
}
.hide,
.none {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
@font-face {
  font-family: 'miIcon';
  src: url(iconfont.woff) format('woff');
}
header {
  height: 140px;
}
header .site-topbar {
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
header .site-topbar .container {
  height: 100%;
  width: 1226px;
  margin: 0 auto;
}
header .site-topbar .container .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
header .site-topbar .container .topbar-nav a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
header .site-topbar .container .topbar-nav span {
  margin: 0 4px;
  color: #424242;
}
header .site-topbar .container .shoppingCar {
  font-family: 'shoppingcar';
  height: 100%;
  width: 120px;
  float: right;
  background-color: #424242;
}
header .site-topbar .container .shoppingCar .icon {
  font-family: 'miIcon';
}
header .site-topbar .container .shoppingCar .icon::before {
  content: "\E60C";
  font-size: 15px;
  line-height: 40px;
  margin-left: 20px;
}
header .site-topbar .container .shoppingCar .gouwu {
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
}
header .site-topbar .container .shoppingCar .count {
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
}
header .site-topbar .container .loginBox {
  float: right;
  height: 100%;
  margin-right: 15px;
}
header .site-topbar .container .loginBox a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
  padding: 0 5px;
}
header .site-topbar .container .loginBox span {
  color: #424242;
}
header .site-header {
  height: 100px;
}
header .site-header .search-container {
  height: 100%;
  width: 1226px;
  background-color: pink;
  margin: 0 auto;
  position: relative;
}
header .site-header .search-container .head-logo {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
header .site-header .search-container .head-logo a {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 40px;
}
header .site-header .search-container .head-logo a::before {
  content: "";
  height: 100%;
  width: 100%;
  background: url(img/logo-mi2.png) no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
}
header .site-header .search-container .searchBox {
  float: right;
}
header .site-header .search-container .searchBox .searchFrame {
  height: 50px;
  width: 246px;
  box-sizing: border-box;
  border: 1px solid #fefefe;
  border-right: none;
  background-color: transparent;
  float: left;
  margin-top: 25px;
  outline: 0;
  padding-left: 15px;
  font-size: 10px;
  transition: 0.4s;
}
header .site-header .search-container .searchBox .searchFrame:focus {
  border-color: #FF6A00;
}
header .site-header .search-container .searchBox .searchFrame:focus + .searchButton {
  border-color: #FF6A00;
}
header .site-header .search-container .searchBox .searchButton {
  float: left;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  border: 1px solid #fefefe;
  background-color: transparent;
  margin-top: 25px;
  font-family: "miIcon";
  font-size: 25px;
  line-height: 48px;
  text-align: center;
  transition: 0.4s;
}
header .site-header .search-container .searchBox .searchButton:hover {
  background-color: #FF6A00;
  border-color: #FF6A00;
  color: white;
}
